table tbody tr:first-child i.fa-sort-up {
    visibility: hidden;
}
table tbody tr:last-child i.fa-sort-down {
    visibility: hidden;
}
#shopSelectNewContainer label, #shopSelectNewContainer select {
    display: block;
}
#shopSelectNewContainer > div {
    float: left;
}
.active a{
    text-decoration: none;
    color: black;
    cursor: default !important;
}
.priceInput {
    width: 80px;
}