/* Notes

	Fine ass colors:
	#000000
	#f30808
	#FFFFFF


*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Exo+2);

/*Clear everything*/
* {
	margin:0;
	padding:0;
}

/*Major design, eg heights, widths, backgrounds etc*/
body, html {
	width:100%;
	min-height:100%;
}
body {
	background-image: url("../Images/tumblr_static.jpg"); 
	/*background-color:#3D4460;*/
	background-size:cover;
	overflow:visible;
}
.mainwrapper {
	background:#0C365B;
	width:930px;
	margin: 80px 0px 175px 190px;
	border-left:1px solid black;
	border-right:1px solid black;
	overflow:hidden;
	border-radius: 20px;
}
.headerwrapper 
{
    width:100%;
	height: 30px;
	background:#18005E;
	border-bottom:10px solid #81959E;
	color: #E8E8E8;
}
.bodywrapper {
	background:#18005E;
	padding-top:20px;
	padding-bottom:20px;
	background:#18005E;
	position:relative;
    left: 0;
    top: 0;
}
.footerwrapper {
	height:20px;
	width:100%;
	background:#81959E;
	border-top:1px solid black;
	border-bottom:1px solid black;
	color: #E8E8E8;
    text-align: center;
    text-shadow: 1px 1px 1px black
}
.maincontent {
	background:#EAD8C0;
	margin: 0px auto;
	margin-top:10px;
	padding: 10px;
	background:#FFF;
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	border-radius:20px;
	margin-bottom:20px;
}
.headermenu {
	float: right;
	margin-top: -26px;
	margin-right:30px;
	width: auto;
	text-align: left;
}
div.headermenu
{
    padding: 0px 230px 0px 8px;
}

div.headermenu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.headermenu ul li a, div.menu ul li a:visited
{
    background-color: #18005E;
    color: #E8E8E8;
    display:inline-block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
    margin-left:45px;
}

div.headermenu ul li a:hover
{
    background-color:#81959E;
    color: #E8E8E8;
    text-decoration: none;
    border-top-right-radius:3px;
	border-top-left-radius:3px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    text-shadow: 1px 1px 1px black;
	border-bottom:1px solid #81959E;
}

div.headermenu ul li a:active
{
    background-color:#81959E;
    color: #E8E8E8;
    text-decoration: none;
	border-bottom:1px solid #81959E;
}
div.headermenu li {
	position: relative;
	float: left;
}
fieldset legend {
	margin: 10px;
	padding: 4px;
}
fieldset {
	padding: 6px;
}
input {
	margin: 5px;
	margin-left: 0px;
}
table.listtable{
    border-collapse: collapse;
	margin:5px;
}
.listtable td, .listtable th{
	border:1px solid black;
	padding:2px;
	padding-left:5px;
	padding-right:5px;
}

/*Minor designs, eg text, borders etc*/
.maincontent {
	font-family: Calibri;
}

h2 {
	font-family: 'Exo 2', sans-serif;
}
h2.royal {
	font-family: 'Exo 2', sans-serif;
	padding-left:140px;
	width:160px;
}

p {
	font-family: Calibri;
}
.headerwrapper 
{
    position: fixed; 
    top: 0; 
	padding:3px;
	padding-left:50px;
	z-index:9000;
}
.footerwrapper 
{
    position: fixed; 
    bottom: 0; 
	padding:2px;
	padding-left:10px;
	font-family: 'Exo 2', sans-serif;
}
.headermenu {
	font-family: 'Exo 2', sans-serif;
}
a.active {
	background-color:#81959E !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
    text-shadow: 1px 1px 1px black;
	border-bottom:1px solid #81959E;
}

a.homeclick {
	  text-decoration:none;
	  color:#E8E8E8;
}


#subscribe, 
#login{
    position: fixed;
    top: 75px;
    left:500px;
    width: 25%; 
    padding: 13px 3% 45px 3%;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow: 
        0pt 2px 5px rgba(105, 108, 109,  0.7),  
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
}
#login{
    z-index: 22;
}
::-webkit-input-placeholder  { 
    color: rgb(190, 188, 188); 
    font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
    color: rgb(190, 188, 188);
    font-style: italic;
} 
input {
  outline: none;
}

/**** general text styling ****/
#login h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
 
/** For the moment only webkit supports the background-clip:text; */
#login h1{
    background: 
    -webkit-repeating-linear-gradient(-45deg, 
        rgb(18, 83, 93) , 
        rgb(18, 83, 93) 20px,
        rgb(64, 111, 118) 20px,
        rgb(64, 111, 118) 40px,
        rgb(18, 83, 93) 40px);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
 
#login h1:after{
    content:' ';
    display:block;
    width:100%;
    height:2px;
    margin-top:10px;
    background: 
        linear-gradient(left,  
            rgba(147,184,189,0) 0%,
            rgba(147,184,189,0.8) 20%,
            rgba(147,184,189,1) 53%,
            rgba(147,184,189,0.8) 79%,
            rgba(147,184,189,0) 100%); 
}
/* all the input except submit and checkbox */
#login input:not([type="checkbox"]){
    width: 92%;
    margin-top: 4px;
    padding: 10px 5px 10px 32px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#login input:not([type="checkbox"]):active,
#login input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);   
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 
/*styling both submit buttons */
#login p.button input{
    width: 30%;
    cursor: pointer;    
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;    
    border: 1px solid rgb(28, 108, 122);    
    margin-bottom: 10px;    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px; 
    box-shadow:
        0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    transition: all 0.2s linear;
}
#login p.button input:hover{
    background: rgb(74, 179, 198);
}
#login p.button input:active,
#login p.button input:focus{
    background: rgb(40, 137, 154);
    position: relative;
    top: 1px;
    border: 1px solid rgb(12, 76, 87);  
    box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
    text-align: center;
    margin: 5px 0;
}
/* styling the checkbox "keep me logged in"*/
.keeplogin{
    margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
    display: inline-block;
    font-size: 12px;    
    font-style: italic;
}
.keeplogin input#loginkeeping{
    margin-right: 5px;
}
.keeplogin label{
    width: 80%;
}
p.change_link{
    position: absolute;
    color: rgb(127, 124, 124);
    left: 0px;
    height: 20px;
    width: 440px;
    padding: 17px 30px 20px 30px;
    font-size: 16px ;
    text-align: right;
    border-top: 1px solid rgb(219, 229, 232);
    border-radius: 0 0  5px 5px;
    background: rgb(225, 234, 235);
    background: repeating-linear-gradient(-45deg, 
    rgb(247, 247, 247) , 
    rgb(247, 247, 247) 15px, 
    rgb(225, 234, 235) 15px, 
    rgb(225, 234, 235) 30px, 
    rgb(247, 247, 247) 30px
    );
}
#login p.change_link a {
    display: inline-block;
    font-weight: bold;
    background: rgb(247, 248, 241);
    padding: 2px 6px;
    color: rgb(29, 162, 193);
    margin-left: 10px;
    text-decoration: none;
    border-radius: 4px;
    border: 1px solid rgb(203, 213, 214);
    transition: all 0.4s  linear;
}
#login p.change_link a:hover {
    color: rgb(57, 191, 215);
    background: rgb(247, 247, 247);
    border: 1px solid rgb(74, 179, 198);
}
#login p.change_link a:active{
    position: relative;
    top: 1px;
}

/* Signup page CSS*/

#register{  
    z-index: 21;
}
#register p
{
    margin-left:200px;
    margin-right:200px;
}
#register p.button input 
{
    width: 30%;
    cursor: pointer;    
    background: rgb(61, 157, 179);
    padding: 8px 5px;
    font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
    color: #fff;
    font-size: 24px;    
    border: 1px solid rgb(28, 108, 122);    
    margin-bottom: 10px;    
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    border-radius: 3px; 
    box-shadow:
        0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
        0px 0px 0px 3px rgb(254, 254, 254),
        0px 5px 3px 3px rgb(210, 210, 210);
    transition: all 0.2s linear;

}
#register input:not([type="checkbox"]){
    width: 92%;
    margin-top: 4px;
   
    padding: 10px 5px 10px 32px;    
    border: 1px solid rgb(178, 178, 178);
    box-sizing : content-box;
    border-radius: 3px;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    transition: all 0.2s linear;
}
#register input:not([type="checkbox"]):active,
#register input:not([type="checkbox"]):focus{
    border: 1px solid rgba(91, 90, 90, 0.7);
    background: rgba(238, 236, 240, 0.2);   
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 
#register h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px 0 10px 0;
    font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s;
}

#popupbox{
  margin-right:800px;
  margin-top: 50px; 
  padding-top: 10px; 
  width: 500px; 
  height: 150px; 
  position: absolute; 
  z-index: 9; 
  font-family: arial; 
  visibility:hidden;
  }

.red {
	color:red;
}

.black{
	color:black;
}
