/* Notes
	
*/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Exo+2);
@import "shop.css";
/*Clear everything*/
* {
	margin:0;
	padding:0;
}

/*Major*/
body, html {
	width:100%;
	min-height:100%;
}
body {
	background-image: url("../Images/tumblr_static.jpg"); 
	/*background-color:#3D4460;*/
	background-size:cover;
	overflow:visible;
}
.mainwrapper {
	background:#0C365B;
	width:930px;
	margin: 80px 0px 40px 190px;
	border-left:1px solid black;
	border-right:1px solid black;
	overflow:hidden;
	border-radius: 20px;
}
.headerwrapper 
{
	width:100%;
	height: 30px;
	background:#18005E;
	border-bottom:10px solid #81959E;
	color: #E8E8E8;
	position: fixed; 
	top: 0; 
	padding:3px;
	padding-left:50px;
	z-index:9000;
}
.bodywrapper {
	background:#18005E;
	padding-top:20px;
	padding-bottom:20px;
	background:#18005E;
	position:relative;
	left: 0;
	top: 0;
}
.footerwrapper {
	height:20px;
	width:100%;
	background:#81959E;
	border-top:1px solid black;
	border-bottom:1px solid black;
	color: #E8E8E8;
	text-align: center;
	text-shadow: 1px 1px 1px black;
	position: fixed; 
	bottom: 0; 
	padding:2px;
	padding-left:10px;
	font-family: 'Exo 2', sans-serif;
}

/* Semi major */
.maincontent {
	background:#EAD8C0;
	margin: 0px auto;
	margin-top:10px;
	padding: 10px;
	background:#FFF;
	margin: 10px;
	padding: 20px;
	border: 1px solid black;
	border-radius:20px;
	margin-bottom:20px;
	font-family: Calibri;
}
.headermenu {
	float: right;
	margin-top: -26px;
	margin-right:30px;
	width: auto;
	text-align: left;
	padding: 0px 230px 0px 8px;
}

	div.headermenu ul
	{
		list-style: none;
		margin: 0px;
		padding: 0px;
		width: auto;
	}
	
		div.headermenu li {
			position: relative;
			float: left;
		}
		
			div.headermenu ul li a, div.menu ul li a:visited
			{
				background-color: #18005E;
				color: #E8E8E8;
				display:inline-block;
				line-height: 1.35em;
				padding: 4px 5px;
				text-decoration: none;
				white-space: nowrap;
				margin-left:0px;
			}

			div.headermenu ul li a:hover
			{
				background-color:#81959E;
				color: #E8E8E8;
				text-decoration: none;
				border-top-right-radius:3px;
				border-top-left-radius:3px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
				text-shadow: 1px 1px 1px black;
				border-bottom:1px solid #81959E;
			}

			div.headermenu ul li a:active
			{
				background-color:#81959E;
				color: #E8E8E8;
				text-decoration: none;
				border-bottom:1px solid #81959E;
			}

fieldset {
	padding: 6px;
}
	fieldset legend {
		margin: 10px;
		padding: 4px;
	}
	
table.listtable{
	border-collapse: collapse;
	margin:5px;
}
	.listtable td, .listtable th{
		border:1px solid black;
		padding:2px;
		padding-left:5px;
		padding-right:5px;
	}

#login, #register {
	width: 400px;
	margin:0 auto;
	text-align:right;
}

/* Text */
.red {
	color:red;
}
.black {
	color:black;
}

h1, h2:not(.royal){
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'Exo 2', Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
	h2:not(.royal) {
		font-size: 32px;
		font-family: 'Exo 2', sans-serif;
	}
	.royal {
		font-family: 'Exo 2', sans-serif;
		padding-left:140px;
		width:160px;
	}

.headermenu {
	font-family: 'Exo 2', sans-serif;
}
a.active {
	background-color:#81959E !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: 1px 1px 1px black;
	border-bottom:1px solid #81959E;
}

a.homeclick {
	  text-decoration:none;
	  color:#E8E8E8;
}

/* Inputs */
input {
	margin: 5px;
	margin-left: 0px;
}

::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 

input, select{
  outline: none;
}

input[type="submit"] {
	cursor: pointer;    
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;    
	border: 1px solid rgb(28, 108, 122);    
	margin-bottom: 10px;    
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	border-radius: 3px; 
	box-shadow:
		0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
		0px 0px 0px 3px rgb(254, 254, 254),
		0px 5px 3px 3px rgb(210, 210, 210);
	transition: all 0.2s linear;
	text-align: center;
}
input:not([type="checkbox"]), select {
	margin-top: 4px;
   
	padding: 10px 5px 10px 10px;    
	border: 1px solid rgb(178, 178, 178);
	box-sizing : content-box;
	border-radius: 3px;
	box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	transition: all 0.2s linear;
}

/* AJAX Error and Response */
.maincontent .error {
	color:red;
}

.maincontent .response {
	
}